@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}


body {
	margin: 0;
	// display: flex;
	// place-items: center;
	min-width: 320px;
	min-height: 100vh;
	color:white;
	background-color: rgb(0, 0, 0);
	
}

.button{
	padding: 10px;
	background-color: $button-red;
	border: none;
	border-radius: 3px;
	text-transform: uppercase;
	color: white;
	font-weight: 600;
	font-size: 1.2rem;
	cursor: pointer;
}
.btn-small{
	padding: 5px;
	background-color: $button-red;
	border: none;
	border-radius: 2px;
	text-transform: uppercase;
	color: white;
	font-weight: 600;
	font-size: 0.9rem;
	cursor: pointer;
}

.hidden{
	display: none;
}

.visible{
	display: block;
}
