input{
    border: none;
    height: 25px;
    width: 250px;
    font-size: 1rem;
    border-radius: 2px;
    &:focus-visible, :focus{
        border: none;
        outline: none;
    }
}

.btn{
    position: relative;
    right: 28px;
    top:5px;
    z-index: 100;
    background-color: transparent;
    border: none;
    &:hover{
        cursor: pointer;
    }

}