.rowContainer {
    margin-top: 50px;

	h2 {
		text-align: left;
		margin-bottom: 50px;
	}
}
.postersContainer {
	display: grid;
	grid-auto-flow: column;
	overflow-x: scroll;
	overflow-y: hidden;
	grid-gap: 2rem;

	grid-auto-columns: minmax(240px, 280px);
	&::-webkit-scrollbar {
		display: none;
	}
 

    
}
