.card{
    text-decoration: none;
    color: white;
    .cardImage{
        width: 100%;
        height: 350px; 
    }
    .cardTitle{
        padding: 0.5rem 0;
        font-size: 1.1rem;
        text-transform: uppercase;
    }
    &:hover{
        transform: scale(1.05);
        transition: 0.3s ease-in-out;
    }
    
}