.authForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding: 50px;
	// background-color: black;
	border: 1px solid red;
	border-radius: 10px;
	.autTitle{
        text-transform: uppercase;
        font-weight: 900;
    }
    p {
		max-width: 250px;
		a{
			margin-left: 10px;
		}
	}
}
